# github repository Actions 페이지에 나타낼 이름
name: prod deploy

# event trigger
on:
  push:
    branches:
      - main

jobs:
  production-cd:
    runs-on: ubuntu-22.04 # 필수, 실행환경 지정
    steps:

      # (1) 기본 체크아웃
      - name: Checkout
        uses: actions/checkout@v3

      # (2) JDK 17 세팅
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      ## (3-1) application-prod.properties 생성
      - name: make application-prod.yml
        run: |
          cd ./src/main/resources
          touch ./application-prod.yml
          echo "${{ secrets.APPLICATION_PROD_YML }}" > ./application-prod.yml
        shell: bash

      ## (3-2) application-jwt.yml 생성
      - name: make application-jwt.yml
        run: |
          cd ./src/main/resources
          touch ./application-jwt.yml
          echo "${{ secrets.APPLICATION_JWT_YML }}" > ./application-jwt.yml
        shell: bash

      ## (3-3) application-oauth.yml 생성
      - name: make application-oauth.yml
        run: |
          cd ./src/main/resources
          touch ./application-oauth.yml
          echo "${{ secrets.APPLICATION_OAUTH_YML }}" > ./application-oauth.yml
        shell: bash

      ## (3-4) application-fcm.yml 생성
      - name: make application-fcm.yml
        run: |
          cd ./src/main/resources
          touch ./application-fcm.yml
          echo "${{ secrets.APPLICATION_FCM_YML }}" > ./application-fcm.yml
        shell: bash

      ## (3-4) snackpot-fcm.json 생성
      - name: make snackpot-fcm.json
        run: echo "${{ secrets.FCM_JSON_SECRET }}" | base64 --decode > ./src/main/resources/snackpot-fcm.json
        shell: bash

      # (4) ./gradlew 권한 설정
      - name: ./gradlew 권한 설정
        run: chmod +x ./gradlew

      # (5) Gradle build (Test 제외)
      - name: Build with Gradle
        run: ./gradlew build -x test

      # (4) ./gradlew 권한 설정
      - name: ./gradlew 권한 설정
        run: chmod +x ./gradlew

      # (5) Gradle build (Test 제외)
      - name: Build with Gradle
        run: ./gradlew build -x test

      # (6) docker build & push to production
      - name: Docker build & push to DockerHub
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker build -t ${{ secrets.DOCKER_REPO }}:latest-prod .
          docker push ${{ secrets.DOCKER_REPO }}:latest-prod

      # (7) aws 세팅
      - name: aws 세팅
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      # snackpotApp라는 폴더 생성 및 docker-compose-prod.yml, appspec.yml 파일과 scripts 폴더 이동하기
      - name: Create snackpotApp folder에 move appspec.yml and scripts folder and zip app-deploy folder
        run: |
          mkdir snackpotApp
          cp docker-compose-prod.yml snackpotApp/
          cp -r scripts snackpotApp/

      # (8) 로컬 snackpotApp 폴더 EC2로 복사
      - name: Copy snackpotApp folder to EC2 via SCP
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.PROD_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.KEY }}
          port: 22
          source : "./snackpotApp"
          target : "./snackpotApp"
          debug: true

      # (9) 서버에 접속하여 deploy.sh 실행하기
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.PROD_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.KEY }}
          port: 22
          script: |
            cd snackpotApp
            sudo ./scripts/deploy.sh
